@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-family: "Montserrat", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hero section */
#hero {
  width: 100%;
  background-image: url("../images/img1.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

.hero a {
  text-decoration: none;
}

#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

.header__left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.header__input {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  padding: 6px;
  margin-top: 30px;
  border-radius: 999px;
  width: 60vw;
}

.header__input input {
  border: none;
  background-color: transparent;
  outline-width: 0;
  padding: 3px;
  color: #b0b3b8;
  margin-left: 5px;
  width: 100%;
}

.header__input i {
  margin-left: 10px;
}

/* #hero input {
  outline-width: 0;
  border: none;
  padding: 10px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: rgb(58 59 60);
  color: aliceblue;
}

#hero form button {
  display: none;
} */

#hero h1 {
  /* display: block; */
  width: fit-content;
  font-size: 3vw;
  position: relative;
  color: whitesmoke;
  animation: text_reveal 0.5s forwards;
  animation-delay: 1s;
}

#hero .cta {
  display: inline-block;
  padding: 10px 20px;
  color: crimson;
  background-color: transparent;
  border: 2px solid crimson;
  margin-top: 110px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  font-size: 14px;
}

#hero .cta:hover {
  color: white;
  background-color: crimson;
  text-decoration: none;
  cursor: pointer;
}
/*  */

/* header sect */
#header {
  background-color: white;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  transition: 0.3s ease background-color;
}
#header .header {
  min-height: 4vh;
  /* background-color: rgba(31, 30, 30, 0.24); */
  transition: 0.3s ease background-color;
}
#header .nav-bar .brand a {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: rgb(21, 2, 145);
  padding: 15px;
  display: block;
}
.header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  flex-direction: column;
  transition: 0.5s ease left;
}

#header .nav-list ul.active {
  left: 0;
}

#header .nav-list ul a {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 15px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 6rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.5s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

/* #header .nav-list ul li:hover a {
  color: crimson;
} */

#header .hum {
  height: 60px;
  width: 60px;
  z-index: 100;
  display: inline-block;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

/* hum effect */
#header .hum::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid rgb(0, 0, 0);
  animation: hum_puls 1s ease infinite;
}
/*  */

#header .hum .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: rgb(0, 0, 0);
  z-index: -1;
}

#header .hum .bar::after,
#header .hum .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: rgb(0, 0, 0);
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hum .bar::after {
  top: 8px;
}

#header .hum .bar::before {
  bottom: 8px;
}

#header .hum.active .bar::after {
  top: 0;
}

#header .hum.active .bar::before {
  bottom: 0;
}
/*  */

/* keyframes */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}

@keyframes hum_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
/*  */

@media only screen and (min-width: 1000px) {
  #header .hum {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
    margin-top: 15px;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 16px;
    letter-spacing: 0.1rem;
    color: rgb(0, 0, 0);
  }
  #header .nav-list ul a::after {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .nav-bar .brand h4 {
    font-size: 20px;
  }

  .hero .header__left h1 {
    font-size: 15px;
  }

  #hero .header__input {
    width: 100px;
  }

  #hero .cta {
    font-size: 12px;
  }
}
