<section id="header">
    <div class="header container1">
        <div class="nav-bar">
            <div class="brand">
                <a href="{% url 'index' %}">
                    <h4>
                        <span>M</span>y <span>G</span>allery
                    </h4>
                </a>
            </div>
            <div class="nav-list">
                <div class="hum">
                    <div class="bar"></div>
                </div>
                <ul>
                    <li><a href="#" data-after="Home">Home</a></li>
                    <li><a href="#" data-after="Services">Services</a></li>
                    <li><a href="#" data-after="Projects">Projects</a></li>
                    <li><a href="#" data-after="About">About</a></li>
                    <li><a href="#" data-after="Contacts">Contacts</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>